.container{
    display: flex;
}

.card{
    border: 1px solid black;
    margin: 10px;
    /* padding: 10px; */
    height: inherit;
    width: inherit;

}

.card h3{
    text-align: center;
    text-wrap: wrap;
}

.options{
    display: grid;
    margin: 10px;
}
.options button{
    appearance: none;
    height: 35px;
    width: 93%;
    margin: 10px;
}


nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
